<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>

</head>

<body>
    <div class="form_css">
        <h3>Write new chat </h3>
        <form action="/chats" method="post">
            <input type="text" name="from" id="" placeholder="who are you"><br><br>
            <textarea name="msg" id="" placeholder="write your message here. "></textarea><br><br>
            <input placeholder="add reciver" name="to"><br><br>
            <button>Create chat</button>
        </form>
    </div>

</body>

</html>